lxml
psycopg2
bs4
aria2p
googletrans
hachoir
emoji
Pillow
psutil
pySmartDL
regex
requests
speedtest-cli
SQLAlchemy==1.3.23
asyncurban
oauth2client
google-api-python-client
google_images_download
httplib2==0.15.0
GitPython
coffeehouse
pymongo
heroku3
